
<!DOCTYPE html>
<html lang='en'>
    <head>

        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href='static/styles/index.css' rel='stylesheet'>
        <link href='static/styles/explore.css' rel='stylesheet'>
        <link href='static/styles/about-us.css' rel='stylesheet'>
        <link href="static/loogo.ico" rel="icon">
        <title>
    Explore
</title>

    </head>
    <body>
        
    <div class='ads-block'>
        here is my ad
    </div>
    <p class='heading'>Top Places to Visit</p>
    
        <div class='about-places-block'>
            <img class='about-places-image' src="https://images.unsplash.com/photo-1622546758596-f1f06ba11f58?w=600&amp;auto=format&amp;fit=crop&amp;q=60&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bGFob3JlJTIwY2l0eXxlbnwwfHwwfHx8MA%3D%3D">
            <div class='about-places'>
                <div >
                    <p class='heading'>Lahore</p>
                    <a href='/neelum-valley' target='_blank'><button class='visit-now-button'>Read more...</button></a>
                </div>

                <svg style='margin-left: 5px;' xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#1f1f1f"><path d="M480.21-480Q510-480 531-501.21t21-51Q552-582 530.79-603t-51-21Q450-624 429-602.79t-21 51Q408-522 429.21-501t51 21ZM480-191q119-107 179.5-197T720-549q0-105-68.5-174T480-792q-103 0-171.5 69T240-549q0 71 60.5 161T480-191Zm0 95Q323.03-227.11 245.51-339.55 168-452 168-549q0-134 89-224.5T479.5-864q133.5 0 223 90.5T792-549q0 97-77 209T480-96Zm0-456Z"/></svg>
                <a class='about-places-hyper-link' target="_blank" href="https://maps.google.com/?q=Lahore+Pakistan">Lahore </a>
                <p class='summary-para'>
                    Lahore, the cultural heart of Pakistan, is a city brimming with history, art, and delicious food. From the historic Badshahi Mosque to the lively markets of the old city, Lahore has something for every traveler. Its rich Mughal history and modern-day vibrancy make it a must-visit.
                </p>
                <details style='margin-left: 30px; margin-top: 20px; cursor: pointer;'>
                    <summary style='cursor: pointer;'>Watch a Video</summary>
                    <iframe style='margin-top: 30px;' width="560" height="315" src="https://www.youtube.com/embed/jpFHNAujpCo?si=k0SYuWvnOilDsK4q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                    </iframe>

                </details>
            </div>
        </div>

        <div class='about-places-block'>
            <img class='about-places-image' src="https://images.unsplash.com/photo-1706708081520-fd755a62fd4d?w=600&amp;auto=format&amp;fit=crop&amp;q=60&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8SVNMQU1BQkFEJTIwY2l0eXxlbnwwfHwwfHx8MA%3D%3D">
            <div class='about-places'>
                <div >
                    <p class='heading'>Islamabad</p>
                    <a href='/neelum-valley' target='_blank'><button class='visit-now-button'>Read more...</button></a>
                </div>

                <svg style='margin-left: 5px;' xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#1f1f1f"><path d="M480.21-480Q510-480 531-501.21t21-51Q552-582 530.79-603t-51-21Q450-624 429-602.79t-21 51Q408-522 429.21-501t51 21ZM480-191q119-107 179.5-197T720-549q0-105-68.5-174T480-792q-103 0-171.5 69T240-549q0 71 60.5 161T480-191Zm0 95Q323.03-227.11 245.51-339.55 168-452 168-549q0-134 89-224.5T479.5-864q133.5 0 223 90.5T792-549q0 97-77 209T480-96Zm0-456Z"/></svg>
                <a class='about-places-hyper-link' target="_blank" href="https://maps.google.com/?q=Islamabad+Pakistan">Islamabad </a>
                <p class='summary-para'>
                    Islamabad, the capital of Pakistan, is a modern and scenic city known for its beautiful landscapes, lush greenery, and iconic landmarks. Located at the foot of the Margalla Hills, it offers a peaceful retreat from the hustle and bustle of other cities.
                </p>
                <details style='margin-left: 30px; margin-top: 20px; cursor: pointer;'>
                    <summary style='cursor: pointer;'>Watch a Video</summary>
                    <iframe style='margin-top: 30px;' width="560" height="315" src="https://www.youtube.com/embed/kB3x3KJWS1E?si=etJLJKjzRP26YMIw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                    </iframe>

                </details>
            </div>
        </div>

        <div class='about-places-block'>
            <img class='about-places-image' src="http://images.unsplash.com/photo-1585654766816-8a9fe569d445?q=80&amp;w=1935&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
            <div class='about-places'>
                <div >
                    <p class='heading'>Murree</p>
                    <a href='/neelum-valley' target='_blank'><button class='visit-now-button'>Read more...</button></a>
                </div>

                <svg style='margin-left: 5px;' xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#1f1f1f"><path d="M480.21-480Q510-480 531-501.21t21-51Q552-582 530.79-603t-51-21Q450-624 429-602.79t-21 51Q408-522 429.21-501t51 21ZM480-191q119-107 179.5-197T720-549q0-105-68.5-174T480-792q-103 0-171.5 69T240-549q0 71 60.5 161T480-191Zm0 95Q323.03-227.11 245.51-339.55 168-452 168-549q0-134 89-224.5T479.5-864q133.5 0 223 90.5T792-549q0 97-77 209T480-96Zm0-456Z"/></svg>
                <a class='about-places-hyper-link' target="_blank" href="https://maps.google.com/?q=Murree+Pakistan">Murree </a>
                <p class='summary-para'>
                    Murree is a hill station located in the Pir Panjal range. Known for its cool weather, pine forests, and breathtaking views, it’s a popular tourist destination for locals and internationals alike. The Mall Road is perfect for leisurely strolls, shopping, and local food.
                </p>
                <details style='margin-left: 30px; margin-top: 20px; cursor: pointer;'>
                    <summary style='cursor: pointer;'>Watch a Video</summary>
                    <iframe style='margin-top: 30px;' width="560" height="315" src="https://www.youtube.com/embed/ce1bWv7PGCA?si=kwm0LWXBpzXuH1sg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                    </iframe>

                </details>
            </div>
        </div>

        <div class='about-places-block'>
            <img class='about-places-image' src="https://images.unsplash.com/photo-1679951124125-50cc4029d727?w=600&amp;auto=format&amp;fit=crop&amp;q=60&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2thcmR1fGVufDB8fDB8fHww">
            <div class='about-places'>
                <div >
                    <p class='heading'>Skardu</p>
                    <a href='/neelum-valley' target='_blank'><button class='visit-now-button'>Read more...</button></a>
                </div>

                <svg style='margin-left: 5px;' xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#1f1f1f"><path d="M480.21-480Q510-480 531-501.21t21-51Q552-582 530.79-603t-51-21Q450-624 429-602.79t-21 51Q408-522 429.21-501t51 21ZM480-191q119-107 179.5-197T720-549q0-105-68.5-174T480-792q-103 0-171.5 69T240-549q0 71 60.5 161T480-191Zm0 95Q323.03-227.11 245.51-339.55 168-452 168-549q0-134 89-224.5T479.5-864q133.5 0 223 90.5T792-549q0 97-77 209T480-96Zm0-456Z"/></svg>
                <a class='about-places-hyper-link' target="_blank" href="https://maps.google.com/?q=Skardu+Pakistan">Skardu </a>
                <p class='summary-para'>
                    Skardu, located in the Gilgit-Baltistan region, is famous for its rugged mountains, crystal-clear lakes, and scenic valleys. It is a must-visit for trekkers and adventurers looking to explore places like Deosai National Park and Shangrila Resort.
                </p>
                <details style='margin-left: 30px; margin-top: 20px; cursor: pointer;'>
                    <summary style='cursor: pointer;'>Watch a Video</summary>
                    <iframe style='margin-top: 30px;' width="560" height="315" src="https://www.youtube.com/embed/eEoIfbTV72c?si=3grVmZhzPlPIIWSL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                    </iframe>

                </details>
            </div>
        </div>

        <div class='about-places-block'>
            <img class='about-places-image' src="https://images.unsplash.com/photo-1602740337312-e28c0b7d27f9?w=600&amp;auto=format&amp;fit=crop&amp;q=60&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8S2FyYWNoaXxlbnwwfHwwfHx8MA%3D%3D">
            <div class='about-places'>
                <div >
                    <p class='heading'>Karachi</p>
                    <a href='/neelum-valley' target='_blank'><button class='visit-now-button'>Read more...</button></a>
                </div>

                <svg style='margin-left: 5px;' xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#1f1f1f"><path d="M480.21-480Q510-480 531-501.21t21-51Q552-582 530.79-603t-51-21Q450-624 429-602.79t-21 51Q408-522 429.21-501t51 21ZM480-191q119-107 179.5-197T720-549q0-105-68.5-174T480-792q-103 0-171.5 69T240-549q0 71 60.5 161T480-191Zm0 95Q323.03-227.11 245.51-339.55 168-452 168-549q0-134 89-224.5T479.5-864q133.5 0 223 90.5T792-549q0 97-77 209T480-96Zm0-456Z"/></svg>
                <a class='about-places-hyper-link' target="_blank" href="https://maps.google.com/?q=Karachi+Pakistan">Karachi </a>
                <p class='summary-para'>
                    Karachi, the largest city in Pakistan and the economic powerhouse of the country, is often referred to as the City of Lights. With landmarks like the Quaid-e-Azam’s Mausoleum and vibrant beaches, Karachi is a dynamic city where modernity and tradition meet.
                </p>
                <details style='margin-left: 30px; margin-top: 20px; cursor: pointer;'>
                    <summary style='cursor: pointer;'>Watch a Video</summary>
                    <iframe style='margin-top: 30px;' width="560" height="315" src="https://www.youtube.com/embed/15W4PLDYDfw?si=oDu7Vm8j5B0huruO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                    </iframe>

                </details>
            </div>
        </div>

        <div class='about-places-block'>
            <img class='about-places-image' src="https://images.unsplash.com/photo-1720692774212-97c76d4c6d33?w=600&amp;auto=format&amp;fit=crop&amp;q=60&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8UGVzaGF3YXIlMjBDaXR5fGVufDB8fDB8fHww">
            <div class='about-places'>
                <div >
                    <p class='heading'>Peshawar</p>
                    <a href='/neelum-valley' target='_blank'><button class='visit-now-button'>Read more...</button></a>
                </div>

                <svg style='margin-left: 5px;' xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#1f1f1f"><path d="M480.21-480Q510-480 531-501.21t21-51Q552-582 530.79-603t-51-21Q450-624 429-602.79t-21 51Q408-522 429.21-501t51 21ZM480-191q119-107 179.5-197T720-549q0-105-68.5-174T480-792q-103 0-171.5 69T240-549q0 71 60.5 161T480-191Zm0 95Q323.03-227.11 245.51-339.55 168-452 168-549q0-134 89-224.5T479.5-864q133.5 0 223 90.5T792-549q0 97-77 209T480-96Zm0-456Z"/></svg>
                <a class='about-places-hyper-link' target="_blank" href="https://maps.google.com/?q=Peshawar+Pakistan">Peshawar </a>
                <p class='summary-para'>
                    Peshawar is one of Pakistan’s oldest cities with a rich history. The Qissa Khwani Bazaar and Bala Hisar Fort are among its historic sites. Known for its warm-hearted people and cultural heritage, Peshawar offers a unique experience.
                </p>
                <details style='margin-left: 30px; margin-top: 20px; cursor: pointer;'>
                    <summary style='cursor: pointer;'>Watch a Video</summary>
                    <iframe style='margin-top: 30px;' width="560" height="315" src="https://www.youtube.com/embed/CJnXQM8lwa0?si=n35NzSLT8UBJrHO5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                    </iframe>

                </details>
            </div>
        </div>

        <div class='about-places-block'>
            <img class='about-places-image' src="https://images.unsplash.com/photo-1702228101347-2bfbdedc344c?w=600&amp;auto=format&amp;fit=crop&amp;q=60&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fEdpbGdpdCUyMENpdHl8ZW58MHx8MHx8fDA%3D">
            <div class='about-places'>
                <div >
                    <p class='heading'>Gilgit</p>
                    <a href='/neelum-valley' target='_blank'><button class='visit-now-button'>Read more...</button></a>
                </div>

                <svg style='margin-left: 5px;' xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#1f1f1f"><path d="M480.21-480Q510-480 531-501.21t21-51Q552-582 530.79-603t-51-21Q450-624 429-602.79t-21 51Q408-522 429.21-501t51 21ZM480-191q119-107 179.5-197T720-549q0-105-68.5-174T480-792q-103 0-171.5 69T240-549q0 71 60.5 161T480-191Zm0 95Q323.03-227.11 245.51-339.55 168-452 168-549q0-134 89-224.5T479.5-864q133.5 0 223 90.5T792-549q0 97-77 209T480-96Zm0-456Z"/></svg>
                <a class='about-places-hyper-link' target="_blank" href="https://maps.google.com/?q=Gilgit+Pakistan">Gilgit </a>
                <p class='summary-para'>
                    Gilgit, a beautiful city surrounded by towering mountain ranges, is known for its adventure tourism, including trekking to K2 base camp. Its natural beauty, with spots like Naltar Valley, makes it a top destination for nature lovers and trekkers.
                </p>
                <details style='margin-left: 30px; margin-top: 20px; cursor: pointer;'>
                    <summary style='cursor: pointer;'>Watch a Video</summary>
                    <iframe style='margin-top: 30px;' width="560" height="315" src="https://www.youtube.com/embed/K3IZMp6V9dk?si=D0yBe_PZVt8YC33W" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                    </iframe>

                </details>
            </div>
        </div>

        <div class='about-places-block'>
            <img class='about-places-image' src="https://images.unsplash.com/photo-1649279585660-b29ab13b93a8?w=600&amp;auto=format&amp;fit=crop&amp;q=60&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c3dhdCUyMHBha2lzdGFufGVufDB8fDB8fHww">
            <div class='about-places'>
                <div >
                    <p class='heading'>Swat</p>
                    <a href='/neelum-valley' target='_blank'><button class='visit-now-button'>Read more...</button></a>
                </div>

                <svg style='margin-left: 5px;' xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#1f1f1f"><path d="M480.21-480Q510-480 531-501.21t21-51Q552-582 530.79-603t-51-21Q450-624 429-602.79t-21 51Q408-522 429.21-501t51 21ZM480-191q119-107 179.5-197T720-549q0-105-68.5-174T480-792q-103 0-171.5 69T240-549q0 71 60.5 161T480-191Zm0 95Q323.03-227.11 245.51-339.55 168-452 168-549q0-134 89-224.5T479.5-864q133.5 0 223 90.5T792-549q0 97-77 209T480-96Zm0-456Z"/></svg>
                <a class='about-places-hyper-link' target="_blank" href="https://maps.google.com/?q=Swat+Pakistan">Swat </a>
                <p class='summary-para'>
                    Swat, often referred to as Pakistan&#39;s Switzerland, is a valley known for its lush greenery, snow-capped mountains, and crystal-clear rivers. Whether you&#39;re exploring Malam Jabba for skiing or simply enjoying the peaceful landscapes, Swat is a perfect escape.
                </p>
                <details style='margin-left: 30px; margin-top: 20px; cursor: pointer;'>
                    <summary style='cursor: pointer;'>Watch a Video</summary>
                    <iframe style='margin-top: 30px;' width="560" height="315" src="https://www.youtube.com/embed/owMUCzst7I0?si=CugrU4lFEAD9HNfz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                    </iframe>

                </details>
            </div>
        </div>

        <div class='about-places-block'>
            <img class='about-places-image' src="https://images.unsplash.com/photo-1602939590728-4ba9d4ba5d65?w=600&amp;auto=format&amp;fit=crop&amp;q=60&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8RmFpc2FsYWJhZHxlbnwwfHwwfHx8MA%3D%3D">
            <div class='about-places'>
                <div >
                    <p class='heading'>Faisalabad</p>
                    <a href='/neelum-valley' target='_blank'><button class='visit-now-button'>Read more...</button></a>
                </div>

                <svg style='margin-left: 5px;' xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#1f1f1f"><path d="M480.21-480Q510-480 531-501.21t21-51Q552-582 530.79-603t-51-21Q450-624 429-602.79t-21 51Q408-522 429.21-501t51 21ZM480-191q119-107 179.5-197T720-549q0-105-68.5-174T480-792q-103 0-171.5 69T240-549q0 71 60.5 161T480-191Zm0 95Q323.03-227.11 245.51-339.55 168-452 168-549q0-134 89-224.5T479.5-864q133.5 0 223 90.5T792-549q0 97-77 209T480-96Zm0-456Z"/></svg>
                <a class='about-places-hyper-link' target="_blank" href="https://maps.google.com/?q=Faisalabad+Pakistan">Faisalabad </a>
                <p class='summary-para'>
                    Faisalabad, known as the Manchester of Pakistan, is an industrial city with a rich history. Its vibrant bazaars, historical clock tower, and textile industry make it an important destination for both history buffs and industry enthusiasts.
                </p>
                <details style='margin-left: 30px; margin-top: 20px; cursor: pointer;'>
                    <summary style='cursor: pointer;'>Watch a Video</summary>
                    <iframe style='margin-top: 30px;' width="560" height="315" src="https://www.youtube.com/embed/I36-x5XzMmg?si=dyGP7ebEmvquT5_6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                    </iframe>

                </details>
            </div>
        </div>



    </body>
</html>
